.git
.gitignore

node_modules
**/node_modules
**/dist
**/build
coverage
**/coverage

.env
.env.*
**/.env
**/.env.*

certificates
certificates/
**/certificates
**/certificates/
certs
certs/
**/certs
**/certs/

logs
logs/
**/logs
**/logs/
*.log
**/*.log

test-results
test-results/
**/test-results
**/test-results/
playwright-report
playwright-report/
**/playwright-report
**/playwright-report/
